*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #C9BBAA;
}

.container{
    display: flex;
    justify-content: space-between;
}

.direita{
    width: 1440px;
}
.titulo{
    font-size: 38px;
    margin: 150px 0px 0px 350px;
    height: 92px;
    text-align: center;
    width: 541px;
    font-family: Inter;
    display: flex;

}
.linha
{
    display: flex;
    width: 154px;
    height: 1px;
    background-color: black;
    
}
.divisor{
    font-size: 20px;
    margin: 30px 0px 0px 350px;
    height: 90px;
    width: 541px;
    display: flex;
    column-gap: 40px;
    align-items: center;
   
}
.btn{
    display: flex;
    margin-left: 350px;
    column-gap: 10px;
    
}
.btn1{
    width: 258px;
    height: 50px;
    border-radius: 5px;
    border-color: white;
}   
.btn2{
    width: 258px;
    height: 50px;
    border-radius: 5px;
    border-color: white;
}   
.or{
    font-size: 16px;
    width: 23px;
    height: 24px;
    align-items: center;
    font-family: Poppins;
    margin: 30px 0px 0px 600px;
}
.lista-geral{
    list-style: none;
    padding: 0 0 0 350px;
}

.lista{
    color: #636162;
    font-family: Poppins;
    padding-top: 30px;
}

.texto{
    width: 537px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    margin-top: -15 px;
}
.box{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    
    
}
.checkbox{
    display: flex;
    margin: 30px 0px 0px 350px;
    width: 263px;
    height: 21px;
    column-gap: 15px;


}
.radio-box{

    display: flex;
    font-size: 16px;
    Margin: 30px 0px 0px 350px;

}
.radio{
    display: flex;
    margin: 0px 5px 0px 10px;
    font-size: 16px;
}
.radio1{
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 10px;
    
}
.btnf{
    width: 537px;
    height: 57px;
    background-color: #736B66;
    color: white;
    font-size: 16px;
    font-family: Poppins;
    border-radius: 5px;
    margin-top: 10px;
    border-color: #736B66;

}
.fimpg{
    width: 304px;
    height: 34px;
    font-family: Poppins;
    margin-top: 10px;
    display: flex;
    margin-left: 500px;
    align-items: center;

}
.destac{
    color: red;
    
}